<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.langteng.community.mapper.CommentCustomizeMapper">

  <resultMap id="commentDTO" type="life.langteng.community.dto.CommentDTO">
    <id column="id" property="id"></id>
    <result column="parent_id" property="parentId"></result>
    <result column="type" property="type"></result>
    <result column="content" property="content"></result>
    <result column="commenter" property="commenter"></result>
    <result column="like_count" property="likeCount"></result>
    <result column="gmt_create" property="gmtCreate"></result>
    <result column="gmt_modified" property="gmtModified"></result>
    <result column="comment_count" property="commentCount"></result>

    <association property="user" javaType="life.langteng.community.entity.User">
      <id column="u_id" property="id"></id>
      <result column="account" property="account"></result>
      <result column="name" property="name"></result>
      <result column="token" property="token"></result>
      <result column="intro" property="intro"></result>
      <result column="u_gmt_create" property="gmtCreate"></result>
      <result column="u_gmt_modified" property="gmtModified"></result>
      <result column="avatar_url" property="avatarUrl"></result>
    </association>
  </resultMap>

  <select id="queryAllCommentsByParentId" resultMap="commentDTO">
   select co.id,co.parent_id,co.type,co.content,co.commenter,co.like_count,co.gmt_create,co.gmt_modified,co.comment_count,
   u.id u_id,u.account,u.name,u.token,u.intro,u.gmt_create u_gmt_create,u.gmt_modified u_gmt_modified,u.avatar_url
    from tb_comment co,tb_user u where co.commenter = u.id and co.parent_id =#{parentId} and co.type=#{type} order by co.gmt_create desc
  </select>

  <update id="incCommentCount" >
    update tb_comment set comment_count=comment_count + #{commentCount} where id =#{id}
  </update>

</mapper>