<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.langteng.community.mapper.NotificationMapper">
  <resultMap id="BaseResultMap" type="life.langteng.community.entity.Notification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="outter" jdbcType="INTEGER" property="outter" />
    <result column="replyer" jdbcType="INTEGER" property="replyer" />
    <result column="receiver" jdbcType="INTEGER" property="receiver" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="outter_title" jdbcType="VARCHAR" property="outterTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, outter, replyer, receiver, type, gmt_create, status, outter_title
  </sql>
  <select id="selectByExample" parameterType="life.langteng.community.entity.NotificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_notification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_notification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="life.langteng.community.entity.NotificationExample">
    delete from tb_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="life.langteng.community.entity.Notification">
    insert into tb_notification (id, outter, replyer, 
      receiver, type, gmt_create, 
      status, outter_title)
    values (#{id,jdbcType=INTEGER}, #{outter,jdbcType=INTEGER}, #{replyer,jdbcType=INTEGER}, 
      #{receiver,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{gmtCreate,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{outterTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="life.langteng.community.entity.Notification">
    insert into tb_notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outter != null">
        outter,
      </if>
      <if test="replyer != null">
        replyer,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="outterTitle != null">
        outter_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outter != null">
        #{outter,jdbcType=INTEGER},
      </if>
      <if test="replyer != null">
        #{replyer,jdbcType=INTEGER},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="outterTitle != null">
        #{outterTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="life.langteng.community.entity.NotificationExample" resultType="java.lang.Long">
    select count(*) from tb_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_notification
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.outter != null">
        outter = #{record.outter,jdbcType=INTEGER},
      </if>
      <if test="record.replyer != null">
        replyer = #{record.replyer,jdbcType=INTEGER},
      </if>
      <if test="record.receiver != null">
        receiver = #{record.receiver,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.outterTitle != null">
        outter_title = #{record.outterTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_notification
    set id = #{record.id,jdbcType=INTEGER},
      outter = #{record.outter,jdbcType=INTEGER},
      replyer = #{record.replyer,jdbcType=INTEGER},
      receiver = #{record.receiver,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      outter_title = #{record.outterTitle,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="life.langteng.community.entity.Notification">
    update tb_notification
    <set>
      <if test="outter != null">
        outter = #{outter,jdbcType=INTEGER},
      </if>
      <if test="replyer != null">
        replyer = #{replyer,jdbcType=INTEGER},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="outterTitle != null">
        outter_title = #{outterTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="life.langteng.community.entity.Notification">
    update tb_notification
    set outter = #{outter,jdbcType=INTEGER},
      replyer = #{replyer,jdbcType=INTEGER},
      receiver = #{receiver,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      outter_title = #{outterTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>