
body{
    background-color: #efefef;
}
.main{
    margin: 50px 200px 0px 200px;
    background-color: white;
}
/*
 在别人的样式上面直接更改
*/
.media-object{
    width:  40px;
    height: 40px;
}

.pageStyle{
    float:right;
}
/*
 在别人的样式上面直接更改
 给问题标题加一个小手
*/
.media-heading{
    cursor: pointer;
}

.avatar{
    width: 40px;
    height: 40px;
    margin-right: 6px;
}


.errprPage{
    text-align: center;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}
/*
 回复显示下面的点赞回复按钮的样式
*/
.reply-hint{
    color: #737373;
}
/*

*/
.reply-hint .icon{
    font-size: 21px;
    cursor: pointer;
    margin-left:8px;
}
/*
 添加聚焦事件
*/
.reply-hint .icon:hover{
    color: #85B3FF;
}

.comment-content{
    margin-left: 68px;
}
.comment-active{
    color: #85B3FF;
}

.sub-comment{
    margin: 10px;
    border: 1px solid #efefef;
}
.sub-comment-btn{
    margin: 10px;
}

.hr-style{
    margin-bottom: 0px;
}

.item-style{
   margin-top:10px;
}

.input-style{
    margin-top: 10px;
}

.comment-number{
    margin-left: 8px;
}

.label{
    margin-left: 10px;
    font-size: 20px;
}

.relate-question{
    margin-top: 7px;
    font-size: 15px;
    cursor: pointer;
}
.badge{
    background-color: #9E176C;
}
.notification{
    margin-bottom: 10px;
    font-size: 15px;
}


.a-style{
    cursor: pointer;
}

.list-group{
}

.list-group .list-group-item{

}

.footer{
    text-align: center;
    margin-top: 30px;
}