
body{
    background-color: #efefef;
}
.main{
    margin: 50px 200px 0px 200px;
    background-color: white;
}
/*
 在别人的样式上面直接更改
*/
.media-object{
    width:  40px;
    height: 40px;
}

.pageStyle{
    float:right;
}
/*
 在别人的样式上面直接更改
 给问题标题加一个小手
*/
.media-heading{
    cursor: pointer;
}

.hint .avatar{
    width: 40px;
    height: 40px;
}


.errprPage{
    text-align: center;
}