
body{
    background-color: #efefef;
}
.main{
    margin: 50px 200px 0px 200px;
    background-color: white;
}
/*
 在别人的样式上面直接更改
*/
.media-object{
    width:  40px;
    height: 40px;
}

.pageStyle{
    float:right;
}
/*
 在别人的样式上面直接更改
 给问题标题加一个小手
*/
.media-heading{
    cursor: pointer;
}

.avatar{
    width: 40px;
    height: 40px;
}


.errprPage{
    text-align: center;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}
/*
 回复显示下面的点赞回复按钮的样式
*/
.reply-hint{
    color: #737373;
}
/*

*/
.reply-hint .icon{
    font-size: 21px;
    cursor: pointer;
    margin-left:8px;
}
/*
 添加聚焦事件
*/
.reply-hint .icon:hover{
    color: #85B3FF;
}

.comment-active{
    color: #85B3FF;
}

.sub-comment{
    margin: 10px;
    border: 1px solid #efefef;
}
.sub-comment-btn{
    margin: 10px;
}
