<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish</title>
    <!--注意:这里的link需要加 rel="stylesheet",否则没有样式-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.css" />
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/editormd.min.js"></script>
</head>
<body>
<!--顶部导航条-->
<div th:replace="~{navfragment :: navFragment}"></div>
<!-- 正文 -->
<div class="container-fluid main">
    <div class="row">

        <!--发布区-->
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr/>
            <form action="/publish" method="post">
                <!--
                  该隐藏的字段 id   当question.id 存在的时候，才显示
                                  即 question != null  and question.id != null 的情况才显示

                           在该文本不显示的情况下 question == null  question.id,也会报错
                -->
                <input type="hidden" name="id" th:if="(question != null and question.id != null)" th:value="${question == null ? '':question.id}" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4><label for="title">问题标题(简明扼要:)</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${titleError != null}" style="color: red;" th:text="${titleError}"></h4></div>
                    </div>
                    <!--
                     对于 input 做回显 ----》使用 th:value

                     注意： 这里使用 th:text=${}  会跳一格输出
                           这里需要使用 th:value=${}
                    -->
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题..." th:value="${question == null ? '' : question.title}"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4><label for="description">问题补充(必填:请参照右边提示)</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${descriptionError != null}" style="color: red;" th:text="${descriptionError}"></h4>
                        </div>
                    </div>
                    <div id="description-editor">
                        <textarea class="form-control" id="description" style="display:none;" name="description" th:text="${question == null ? '' :question.description}"></textarea>
                    </div>

                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("description-editor", {
                                width  : "100%",
                                height : "700px",
                                delay : 0,
                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload",
                                path   : "/lib/"
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4><label for="tag">添加标签:</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${tagError != null}" style="color: red;" th:text="${tagError}"></h4>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="多个标签使用逗号隔开" th:value="${question == null ? '' :question.tag}">
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="alert alert-danger" role="alert" th:if="${msg != null}"></div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-1">
                        <!--
                           这里是 th:text  如果使用 th:value 不生效

                           总结: input 总是使用  th:value  其他情况多考虑使用 th:text
                        -->
                        <button type="submit" class="btn btn-primary" th:text="${question == null? '提交' : (question.id == null ? '提交':'修改')}"></button>
                    </div>
                </div>
            </form>
        </div>
        <!--提示区-->
        <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
            <h2>问题发起指南:</h2>
            》 问题标题: 请用精简的语言描述您发布的问题，不超过25个字<br/>
            》 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料<br/>
            》 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br/>
        </div>

    </div>

</div>

<div th:replace="~{footerfragment :: footerFragment}"></div>

</body>
</html>