<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish</title>
    <!--注意:这里的link需要加 rel="stylesheet",否则没有样式-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/community.css"/>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}" src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<!--顶部导航条-->
<div th:replace="~{navfragment :: navFragment}"></div>
<!-- 正文 -->
<div class="container-fluid main">
    <div class="row">

        <!--发布区-->
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr/>
            <form action="/publish" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4><label for="title">问题标题(简明扼要:)</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${titleError != null}" style="color: red;" th:text="${titleError}"></h4></div>
                    </div>
                    <!--
                     对于 input 做回显 ----》使用 th:value

                     注意： 这里使用 th:text=${}  会跳一格输出
                           这里需要使用 th:value=${}
                    -->
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题..." th:value="${title}"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4><label for="description">问题补充(必填:请参照右边提示)</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${descriptionError != null}" style="color: red;" th:text="${descriptionError}"></h4>
                        </div>
                    </div>
                    <textarea class="form-control" rows="25" id="description" name="description" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4><label for="tag">添加标签:</label></h4>
                        </div>
                        <div class="col-lg-5"><h4 th:if="${tagError != null}" style="color: red;" th:text="${tagError}"></h4>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="多个标签使用逗号隔开" th:text="${tag}">
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="alert alert-danger" role="alert" th:if="${msg != null}"></div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-1">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <!--提示区-->
        <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
            <h2>问题发起指南:</h2>
            》 问题标题: 请用精简的语言描述您发布的问题，不超过25个字<br/>
            》 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料<br/>
            》 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br/>
        </div>

    </div>

</div>


</body>
</html>